*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    background: rgb(246,246,246);
}
/* header */
header>#toplogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 30px;
}
header>#toplogo>img{
    width: 111.51px;
    height: 20px;
    margin: 5px 0 0;
}
header>.logo{
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(218,33,39);
    color: rgb(255,255,255);
}
header>.logo>img{
    width: 23px;
    position: absolute;
    left: 3vw;
}
header>.logo>img:hover{
    cursor: pointer;
}
header>.logo>h1{
    font-family: 나눔고딕;
    font-size: 1.5em;
    font-weight: normal;
}
header>.logo>h1>a{
    text-decoration: none;
    color: rgb(255,255,255);
}
/* main */
main{
    width: 85vw;
    margin: 20px auto;
}
main>#chart{
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(255,255,255);
    border-radius: 5px;
}
main>#chart>.chart_all{
    width: 80px;
    height: 80px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main>#mypage #btn_mypage{
    width: 100%;
    height: 53px;
    margin: 10px 0;
    background: rgba(79,81,81,0.6);
    border: none;
    border-radius: 2px;
}
main>#mypage #btn_mypage:hover{
    background: rgba(79,81,81,0.8);
    cursor: pointer;
}
main>#mypage>a>#btn_mypage{
    text-decoration: none;
    color: rgba(255,255,255);
    font-size: 18px;
}
main>#main_post{
    display: flex;
    margin: 10px auto;
}
main>#main_post>.main_post_item{
    flex: .8;
    margin: 0 1px;
    padding: 3px;
    background-color: rgb(255,255,255);
}
main>#main_post>.main_post_item>h3{
    margin-bottom: 8px;
    padding: 5px 0;
    background: rgba(246,246,246);
    text-align: center;
}
main>#main_post>.main_post_item>ul{
    list-style: none;
}
main>#main_post>.main_post_item li{
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(246,246,246);
}
@media (max-width: 700px){
    main>#main_post{
        display: block;
    }
    main>#main_post>.main_post_item{
        margin-top: 10px;
    }
}
/* mypage */
main>#reserved_mypage{
    padding-top: 10px;
}
main>#reserved_mypage>h3{
    margin: 15px 0;
    text-align: center;
    color: rgba(79,81,81);
}
main>#reserved_mypage>.reserved_card{
    width: 300px;
    height: 120px;
    margin: 20px auto;
    border: 1px solid rgba(79,81,81,0.6);
    border-radius: 3px;
}
main>#reserved_mypage>.reserved_card>table{
    width: 100%;
    height: 100%;
    color: rgba(79,81,81);
}
main>#reserved_mypage>.reserved_card th{
    /* width: 45%; */
    text-align: left;
    padding-left: 10px;
    border-bottom: 1px solid rgba(79,81,81,.5);
}
main>#reserved_mypage>.reserved_card td{
    /* width: 50%; */
    border-bottom: 1px solid rgba(79,81,81,.5);
    
}
main>#reserved_mypage>.btn_return{
    width: 70px;
    height: 35px;
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(218,33,39);
    font-size: 1em;
    color: rgb(225,225,225);
    border: none;
    border-radius: 3px;
}
main>#reserved_mypage>.btn_return:hover{
    cursor: pointer;
}
/* post */
main>.post_wrap{
    width: 75vw;
    margin: 40px auto;
}
main>.post_wrap>.post{
    height: 130px;
    margin-top: 30px;
    padding: 20px 25px;
    box-sizing: border-box;
    border: 1px solid rgba(79,81,81);
    border-radius: 5px;
    position: relative;
}
main>.post_wrap>.post>span{
    position: absolute;
    top: -10px;
    left: 15px;
    background: rgb(246,246,246);
}
main>.post_wrap>.post>ul{
    line-height: 2;
    list-style-type: square;
}